:host,
.mat-elevation-z8 {
  margin-right: 20px;
  margin-left: 20px;
}

table {
  width: 100%;
}

tr.active {
    background-color: grey;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.editRow {
  background-color: #fdcda2;
}

.top-table {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  width: 20px;
}

.btn-edit {
  background-color: #fff;
  border: 0;
  padding: 10px;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, .1);
  border-radius: 3px;
  font: 500 14px/20px Roboto, "Helvetica Neue", sans-serif;
  color: rgba(0,0,0,.8);
}