<mat-toolbar color="primary">
    <span class="app-name">Discovery country</span>
    <span class="spacer"></span>
    <app-weather-forecast></app-weather-forecast>
    <app-currency-converter></app-currency-converter>
    <a class="menu__link menu__link-login" routerLink="admin/auth">
        <span>Login</span>
        <mat-icon>login</mat-icon>
    </a>
    <a class="menu__link menu__link-reg" routerLink="admin/auth/registration">
        <span>SignUp</span>
        <mat-icon>add</mat-icon>
    </a>
</mat-toolbar>
<router-outlet></router-outlet>
<p>home-page works!</p>
