form {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.mat-form-field {
  display: block;
}

button[type="button"] {
  margin-right: 5px;
}

.btn-container {
  display: flex;
  justify-content: right;
}