<app-cities-attr-filter
    [citiesAttractions] = "citiesAttrData$ | async"
    (filteredAttrs) = "changeFilteredList($event)">
</app-cities-attr-filter>

<app-cities-attr-list 
    [citiesAttr] = "citiesAttrData$ | async"
    [isAuth] = "isAuth$ | async"
    (editCityAttr) = "editAttr($event)"
    [curChangedAttr] = "curChangedCityAttr"
    (coordY) = "changeCoordY($event)"
    [formIsOpen] = "getFormIsOpen$ | async"
    (addCityAttr) = "addAttr()"
    [filteredListAttr] = "citiesFilteredAttrData"
    (likeAttr) = "likeCount($event)"
    [likes]= "likesData$ | async"
    (changeAttrLikes) = "changeLikes($event)">
</app-cities-attr-list>

<app-cities-attr-form
    [formCoord] = "formDirection"
    [editCityAttractions] = "edCityAttr"
    (editCurrentAttr) = "edCurrentAttr($event)"
    (addCurrentAttr) = "addNewAttr($event)"
    [formIsOpen] = "getFormIsOpen$ | async"
    (closeFormAttr) = "closeForm()">
</app-cities-attr-form>

<app-comments-block></app-comments-block>

 