
<app-cities-attr-list 
    [citiesAttr] = "citiesAttrData$ | async"
    [isAuth] = "isAuth$ | async"
    (editCityAttr) = "editAttr($event)"
    (coordY) = "changeCoordY($event)"
    [formIsOpen] = "getFormIsOpen$ | async"
    (addCityAttr) = "addAttr()">
</app-cities-attr-list>

<app-cities-attr-form
    [formCoord] = "formDirection"
    [editCityAttractions] = "edCityAttr"
    (editCurrentAttr) = "edCurrentAttr($event)"
    (addCurrentAttr) = "addNewAttr($event)"
    [formIsOpen] = "getFormIsOpen$ | async"
    (closeFormAttr) = "closeForm()">
</app-cities-attr-form>

 