.registration-form__caprion {
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.registration-form__caprion span{
	text-transform: none;
	font-weight: 200;
    font-size: 14px;
}

.registration-form__btn {
    width: 100%;
}