<h2 class="registration-form__caprion">Регистрация <br> <span>для получения доступа</span></h2>
<form 
    [formGroup]="form" 
    (ngSubmit)="onSubmit()"> 
	<mat-form-field>
		<mat-label for="login">Логин</mat-label>
		<input 
		    matInput
		    type="text"
		    id="login"
		    formControlName="login"
		    >
		<mat-error
		    *ngIf="form.get('login').invalid && form.get('login').touched">
		    <span *ngIf="form.get('login')['errors']['required']">Логин не может быть пустым</span>
		    <span *ngIf="form.get('login')['errors']['forbiddenLogin']">Такой пользователь уже существует.</span>
		</mat-error>
	</mat-form-field>
	<br>
	<mat-form-field>       
		<mat-label for="password">Пароль</mat-label>
		<input 
		    matInput
		    type="password"
		    id="password"
		    formControlName="password"
		    >
		<mat-error
		    *ngIf="form.get('password').invalid && form.get('password').touched">
		    <span *ngIf="form.get('password')['errors']['required']">Заполните поле Пароль.</span>
		    <span *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">Пароль должен быть меньше {{form.get('password')['errors']['minlength']['requiredLength']}}
		        Вы ввели {{form.get('password')['errors']['minlength']['actualLength']}} символов.</span>
		</mat-error>
	</mat-form-field>
	<br>
	<mat-form-field>
		<mat-label for="nickName">Имя</mat-label>
		<input 
            matInput
		    type="text"
		    id="nickName"
		    formControlName="nickName"
		    >
		<mat-error 
		    *ngIf="form.get('nickName').invalid && form.get('nickName').touched">
		    Введите свое имя.
		</mat-error>
	</mat-form-field>
	<br>
    <mat-checkbox 
		id="agree"
		formControlName="agree">
	    Согласен с правилами
    </mat-checkbox>
	<br>
	<button
	    class="registration-form__btn"
	    mat-raised-button 
	    color="primary"
	    type="submit"
		[disabled]="form.invalid || disabled">Зарегистрироваться
	</button>
	
</form>
